<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Email", :class => "add-on" %>
    <%= f.email_field :email %>
  <% end %>

  <%= f.input :password, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Password", :class => "add-on" %>
    <%= f.password_field :password %>
  <% end %>

  <%= f.input :password_confirmation, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Confirm Password", :class => "add-on" %>
    <%= f.password_field :password_confirmation %>
  <% end %>

  <%= f.input :business_name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Business Name", :class => "add-on" %>
    <%= f.input_field :business_name %>
  <% end %>

  <%= f.input :website_url, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Website (Optional)", :class => "add-on" %>
    <%= f.input_field :website_url %>
  <% end %>

  <%=  f.input :category, :collection => [ "New Franchise Dealer", "Used Dealer", "Other"] %>

  <%= f.input :address, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Address", :class => "add-on" %>
    <%= f.input_field :address %>
  <% end %>

  <%= f.input :city, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "City", :class => "add-on" %>
    <%= f.input_field :city %>
  <% end %>

  <%=  f.input :state, :collection => ['Alabama','Alaska','Arizona','Arkansas','California','Colorado','Connecticut','Delaware','Florida','Georgia','Hawaii','Idaho','Illinois','Indiana','Iowa','Kansas','Kentucky','Louisiana','Maine','Maryland','Massachusetts','Michigan','Minnesota','Mississippi','Missouri','Montana','Nebraska','Nevada','New Hampshire','New Jersey','New Mexico','New York','North Carolina','North Dakota','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Vermont','Virginia','Washington','West Virginia','Wisconsin','Wyoming'] %>

  <%= f.input :zip_code, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Zip Code", :class => "add-on" %>
    <%= f.input_field :zip_code %>
  <% end %>

  <%= f.input :tax_id, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Tax ID", :class => "add-on" %>
    <%= f.input_field :tax_id %>
  <% end %>

  <%= f.input :first_name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "First Name", :class => "add-on" %>
    <%= f.input_field :first_name %>
  <% end %>

  <%= f.input :last_name, :wrapper => :prepend, :label => false do %>
    <%= content_tag :span, "Last Name", :class => "add-on" %>
    <%= f.input_field :last_name %>
  <% end %>

  <%= f.hidden_field :plan_id, :value => params[:plan_id] %>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
